body {
    text-align: center;
    font-family: 'Anton', sans-serif;
    
}

.titulo-1 {
    padding: 6px 25px;
    font-size: 19px;
    color: #1a1919;
    text-decoration: none;
    border-radius: 100%;
    background-color: rgb(170, 181, 184);

}

.paragrafo-1{
    font-family: 'Staatliches', cursive;
    color: white;
}

.button-1{
    background-color:  rgb(170, 181, 184);
    font-family: 'Staatliches', cursive;
    color: rgb(31, 30, 30);
    min-width: 100%;
    border-radius: var;
    
    
}


.img-1 {
    width: 300px;
    float: right;
    border-radius: 100%;
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(196, 192, 192);
    ;
}

.cidade-1{
    color: white;
}

.img-2 {
    width: 300px;
    float: right;
    border-radius: 100%;
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(196, 192, 192)
    
}

.cidade-2{
    color: white;
}

.img-3 {
    width: 300px;
    float: right;
    border-radius: 100%;
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(196, 192, 192)
    
}

.cidade-3{
    color: white;
}

.img-4 {
    width: 300px;
    float: right;
    border-radius: 100%;
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(196, 192, 192)

}

.cidade-4{
    color: white;
}

.img-5{
    width: 300px;
    float: right;
    border-radius: 100%;
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(196, 192, 192);
}

.cidade-5{
    color: white;
}
