body {
   background-image: linear-gradient(45deg, #e37682 15%,#5f4d93 85%);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   text-align: center;
   font-family: 'Source Sans Pro', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.main-header {
    color: white;
    padding: 80px 30px 32px;
    text-decoration: none;
}

.main-header h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;

}

.main-header a {
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    font-weight: 300;
    font-size: 25px;
}

.fundo-branco {
    background-color: white;

}

.nav {
    background-color: rgba(231, 226, 226, 0.4);
    padding: 10px;
    height: 40px;
}

.nav a:hover{
    background-color: rgb(238, 235, 235);
}

.nav li{
    display: inline-block;
}

.nav a{
    padding: 6px 25px;
    font-size: 19px;
    color: #636363;
    text-decoration: none;
    border-radius: 5px;
}

.img{
    
    float: right;
    border-radius: 100%; 
    width: 256px;        
}

.text1 {
    padding: 100px 50px;
}

.conteudo {
    width: 60%;
    display: inline-block;
    text-align: left;
}

.conteudo p {
    text-align: left;
}

.imagem {
    display: inline-block;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid rgb(196, 192, 192);
}

.border{
    border: 1px solid black;
    display: inline-block;
    margin-left: 4em;
    padding: 0.65em;
    border-radius: 100%;
    width: 318px;
    color: gray;
    
    
}
.ajuste-letra {
    font-size: 20px;
    font-weight: 300 ;
}

.titulo1 {
        
    font-weight: 200;
    font-size: 2.3rem;
    color: rgb(87, 84, 84);
}

.titulo1::after{
    
    display: block;
    content: '';
    width: 3.25em;
    height: 2px;
    margin: 0.7em 0 1em 0;
    border-radius: 2px;
    background-image: linear-gradient(
90deg
, #efa8b0, #a89cc8, #8cc9f0);
}

.text1 h2{
    font-weight:300;    
    font-size: 2opx;
}

.button {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #dddddd;
    color: #636363 !important;
    appearance: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    line-height: 2.5em;
    min-width: 6.25em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

}

.button:hover{
    background-color: rgb(238, 235, 235);
}

.titulo2  {
    font-weight: 200;
    font-size: 2.3rem !important;
    color: rgb(87, 84, 84);    
    text-align: center;    
    display: inline-block;

}

.titulo2::after {    
    display: block;
    content: '';
    width: 3.25em;
    height: 2px;
    margin: 20px auto 0px;
    border-radius: 2px;
    background-image: linear-gradient(
90deg
, #efa8b0, #a89cc8, #8cc9f0);
}

.text2 {
    text-align: center;
}

.text2 h2 {
    font-weight:300;    
    font-size: 20px; 
}

.fa-code {
    font-size: 7rem;

}

.fa-code::after {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
    list-style: none;
    -webkit-text-size-adjust: none;
    border-color: #dddddd;
    font-size: 4.75rem;
    display: inline-block;
    width: 2.25em;
    height: 2.25em;
    line-height: 2.2em;
    border-radius: 100%;
    border: solid 1px;
    text-align: center;
    font-weight: 900;

}




